<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="logPath"		value="/home/ec2-user/svc" />
    <property name="fileName"		value="config-mgmt.log" />
    <property name="maxHistory"		value="7" />
    <property name="maxFileSize"	value="5KB" />
    <property name="totalSizeCap"	value="500MB" />
    <property name="filePattern" value="%-4relative[%d][%thread] %X{dd.trace_id} %X{dd.span_id} %-5level %logger{35} - %msg%n"/>

    <!--<include resource="org/springframework/boot/logging/logback/file-appender.xml" />-->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${fileName}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/%d{yyyy-MM-dd}_${fileName}.%i.tar.gz</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <maxFileSize>${maxFileSize}</maxFileSize>
            <totalSizeCap>${totalSizeCap}</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${filePattern}</pattern>
        </encoder>
    </appender>

    <root level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
